<a href="https://colab.research.google.com/github/KOT1HATOP/ml_labs/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_1_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 1

##Загрузка датасета
В файле classification datasets расположены ссылки на датасеты. Выберите один в соответствии со своим вариантом, скачайте и прочитайте файл

**Не забудьте загрузить нужные библиотеки**

Например: pip3 install pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/student-por.csv')
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

##Первое знакомство с датасетом
В следующих ячейках выведите:


1.   Колонки датасета
2.   Первые 5 значений
3.   Последние 5 значений
4.   Статистику по числовым колонкам

In [3]:
#Колонки
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [4]:
#Первые 5 значений
df.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [5]:
#Последние 5 значений
df[-5:]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [6]:
#Статистику
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,16.744222,2.514638,2.306626,1.568567,1.930663,0.221880,3.930663,3.180277,3.184900,1.502311,2.280431,3.536210,3.659476,11.399076,11.570108,11.906009
std,1.218138,1.134552,1.099931,0.748660,0.829510,0.593235,0.955717,1.051093,1.175766,0.924834,1.284380,1.446259,4.640759,2.745265,2.913639,3.230656
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,0.000000,10.000000,10.000000,10.000000
50%,17.000000,2.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,12.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,32.000000,19.000000,19.000000,19.000000

**Ответьте на следующие вопросы:**


1.   Какие средние значения в каждой числовой колонке вашего датасета?
2.   Минимальные и максимальные значения в каждой числовой колонке вашего датасета



1.   **Ответ 1.**
2.   **Ответ 2.**

In [7]:
#1
df.select_dtypes(include=np.number).mean()

age           16.744222
Medu           2.514638
Fedu           2.306626
traveltime     1.568567
studytime      1.930663
failures       0.221880
famrel         3.930663
freetime       3.180277
goout          3.184900
Dalc           1.502311
Walc           2.280431
health         3.536210
absences       3.659476
G1            11.399076
G2            11.570108
G3            11.906009
dtype: float64

In [8]:
#2
# минимум
df.select_dtypes(include=np.number).min()

age           15
Medu           0
Fedu           0
traveltime     1
studytime      1
failures       0
famrel         1
freetime       1
goout          1
Dalc           1
Walc           1
health         1
absences       0
G1             0
G2             0
G3             0
dtype: int64

In [9]:
# максимум
df.select_dtypes(include=np.number).max()

age           22
Medu           4
Fedu           4
traveltime     4
studytime      4
failures       3
famrel         5
freetime       5
goout          5
Dalc           5
Walc           5
health         5
absences      32
G1            19
G2            19
G3            19
dtype: int64

##Типизация
Присвойте соответствующим колонкам один из типов (category, float, int)

In [15]:
df["school"] = df["school"].astype("category")
df["age"] = df["age"].astype("float64")
df["traveltime"] = df["traveltime"].astype("float64")

#Вывести типы колонок тут
df.dtypes

school        category
sex             object
age            float64
address         object
famsize         object
Pstatus         object
Medu             int64
Fedu             int64
Mjob            object
Fjob            object
reason          object
guardian        object
traveltime     float64
studytime        int64
failures         int64
schoolsup       object
famsup          object
paid            object
activities      object
nursery         object
higher          object
internet        object
romantic        object
famrel           int64
freetime         int64
goout            int64
Dalc             int64
Walc             int64
health           int64
absences         int64
G1               int64
G2               int64
G3               int64
dtype: object

Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., **минимум 3 разных**, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?

##Фильтрация
Офильтруйте 3 колонки вашего датасета и выведите результат

In [16]:
#Фильтр колонки 1
df[df["age"] > 16]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17.0,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
7,GP,F,17.0,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,2,10,13,13
18,GP,M,17.0,U,GT3,T,3,2,services,services,...,5,5,5,2,4,5,2,8,8,7
78,GP,M,17.0,U,GT3,T,2,1,other,other,...,4,5,1,1,1,3,0,9,9,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19.0,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18.0,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18.0,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17.0,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18.0,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [18]:
#Фильтр колонки 2
df[df["sex"] == "F"]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17.0,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,MS,F,17.0,U,GT3,T,4,3,teacher,other,...,5,5,4,1,1,1,0,6,9,11
643,MS,F,18.0,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,4,7,9,10
644,MS,F,19.0,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18.0,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18.0,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9

In [19]:
#Фильтр колонки 3
df[(df["sex"] == "M") & (df["age"] == 18)]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
142,GP,M,18.0,U,LE3,T,3,1,services,services,...,3,3,4,4,5,4,2,11,11,12
163,GP,M,18.0,U,LE3,T,1,1,other,other,...,2,3,5,2,5,4,0,11,9,0
227,GP,M,18.0,U,GT3,T,2,2,services,other,...,4,4,4,2,4,5,10,12,11,11
231,GP,M,18.0,U,LE3,T,3,3,services,health,...,3,2,4,2,4,4,10,10,10,10
237,GP,M,18.0,U,GT3,T,2,2,other,other,...,3,3,3,5,5,4,9,10,9,10
242,GP,M,18.0,U,LE3,T,2,1,at_home,other,...,4,3,2,4,5,3,2,9,10,11
256,GP,M,18.0,U,GT3,T,2,2,other,at_home,...,4,4,3,2,2,1,26,7,8,8
263,GP,M,18.0,U,GT3,T,2,2,other,services,...,5,5,4,3,5,2,16,8,7,8
280,GP,M,18.0,R,LE3,T,3,3,other,services,...,4,3,3,1,3,5,8,10,9,10
282,GP,M,18.0,U,GT3,T,3,2,services,other,...,4,4,5,2,4,5,8,7,8,7
284,GP,M,18.0,U,GT3,T,2,1,services,services,...,3,2,5,2,5,5,4,7,8,6
291,GP,M,18.0,U,LE3,T,2,1,services,other,...,4,4,5,4,4,5,4,11,10,11
296,GP,M,18.0,U,GT3,T,2,1,other,other,...,5,2,4,1,2,4,2,16,16,16
301,GP,M,18.0,U,GT3,T,4,3,teacher,other,...,4,3,2,1,1,3,2,10,10,11
302,GP,M,18.0,R,GT3,T,3,2,other,other,...,5,3,2,1,1,3,2,10,11,12
306,GP,M,18.0,R,LE3,A,3,4,other,other,...,4,2,5,3,4,1,6,15,16,16
309,GP,M,18.0,U,GT3,T,4,2,health,other,...,5,4,5,1,3,5,4,10,12,14
319,GP,M,18.0,U,GT3,T,4,4,teacher,services,...,3,2,4,1,4,3,6,11,12,12
323,GP,M,18.0,U,LE3,T,4,3,teacher,services,...,4,2,3,1,2,1,0,10,10,10
324,GP,M,18.0,U,GT3,T,1,2,at_home,other,...,3,4,4,2,4,4,10,10,10,11
334,GP,M,18.0,U,GT3,T,2,1,services,services,...,4,2,4,1,3,2,0,14,15,15
335,GP,M,18.0,U,LE3,A,4,4,teacher,teacher,...,5,4,3,1,1,2,0,17,17,17
336,GP,M,18.0,U,GT3,T,4,2,teacher,other,...,4,3,2,1,4,5,2,15,16,16
339,GP,M,18.0,R,LE3,T,3,2,services,other,...,5,4,2,1,1,4,0,14,15,15
344,GP,M,18.0,U,LE3,T,4,4,teacher,teacher,...,1,4,2,2,2,1,0,18,18,17
368,GP,M,18.0,U,LE3,T,4,4,other,other,...,4,2,5,3,4,5,2,8,9,11
377,GP,M,18.0,U,GT3,T,4,4,other,other,...,4,3,3,2,2,3,0,13,14,13
383,GP,M,18.0,U,LE3,T,2,2,other,other,...,4,5,5,2,4,5,0,11,11,12
387,GP,M,18.0,U,GT3,T,2,2,other,other,...,5,4,2,1,2,5,6,15,14,15
395,GP,M,18.0,U,GT3,T,4,4,teacher,services,...,4,3,3,2,2,2,0,12,12,13
396,GP,M,18.0,U,LE3,T,3,4,services,other,...,4,3,3,1,3,5,6,16,16,17
400,GP,M,18.0,R,GT3,T,4,3,teacher,services,...,5,3,2,1,2,4,4,15,14,17
401,GP,M,18.0,U,GT3,T,4,3,teacher,other,...,5,4,5,2,3,5,0,14,13,14
408,GP,M,18.0,U,LE3,T,2,2,services,services,...,4,4,4,1,3,3,11,9,11,12
409,GP,M,18.0,U,LE3,A,3,4,other,other,...,4,3,5,1,4,2,9,13,14,15
418,GP,M,18.0,R,GT3,T,2,3,other,services,...,3,1,3,4,5,4,13,13,14,14
489,MS,M,18.0,R,GT3,T,1,1,other,other,...,4,4,3,3,4,4,0,8,9,10
523,MS,M,18.0,U,LE3,T,4,4,at_home,health,...,5,5,5,5,5,5,2,5,6,6
559,MS,M,18.0,R,GT3,T,1,0,at_home,at_home,...,4,3,2,1,1,4,0,12,12,13
561,MS,M,18.0,U,LE3,T,1,1,at_home,at_home,...,4,3,3,1,4,5,6,10,9,10
566,MS,M,18.0,R,GT3,T,1,1,services,other,...,5,3,3,2,3,5,2,9,7,9
567,MS,M,18.0,R,GT3,T,3,2,services,other,...,2,3,1,2,2,5,0,4,0,0
569,MS,M,18.0,U,GT3,T,3,3,at_home,at_home,...,4,4,5,1,3,3,9,4,8,8
576,MS,M,18.0,R,GT3,T,3,2,other,other,...,2,5,5,5,5,5,8,9,10,11
579,MS,M,18.0,U,LE3,T,1,3,at_home,services,...,4,3,3,2,3,3,0,9,10,9
595,MS,M,18.0,U,LE3,T,4,4,services,other,...,5,4,5,1,1,5,3,17,17,17
598,MS,M,18.0,U,LE3,T,1,2,at_home,services,...,4,1,4,5,5,1,8,10,11,11
599,MS,M,18.0,R,GT3,T,4,4,at_home,services,...,2,5,5,1,1,1,5,12,13,14
616,MS,M,18.0,U,LE3,T,1,1,other,services,...,3,3,2,1,2,3,2,14,13,14
622,MS,M,18.0,R,GT3,T,1,3,at_home,other,...,3,3,4,2,4,3,0,8,10,9
623,MS,M,18.0,U,LE3,T,4,4,teacher,services,...,4,2,2,2,2,5,0,15,16,16
627,MS,M,18.0,R,LE3,T,1,2,at_home,services,...,4,3,3,2,3,3,3,9,10,10
636,MS,M,18.0,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,17,18,19
637,MS,M,18.0,R,GT3,T,2,1,other,other,...,4,4,3,1,3,5,0,7,7,0
640,MS,M,18.0,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,0,7,7,0
648,MS,M,18.0,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

##Группировка
Сгруппируйте датасет по какому-либо категориальному признаку и выведите среднее значение численных колонок (см. метод mean в pandas)

In [20]:
#Группировка
df.groupby(["school"]).mean()

<ipython-input-20-68ef196f9fe7>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(["school"]).mean()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
school,,,,,,,,,,,,,,,,
GP,16.666667,2.725768,2.475177,1.430260,2.014184,0.172577,3.952719,3.153664,3.146572,1.470449,2.267139,3.598109,4.215130,11.985816,12.144208,12.576832
MS,16.889381,2.119469,1.991150,1.827434,1.774336,0.314159,3.889381,3.230088,3.256637,1.561947,2.305310,3.420354,2.619469,10.300885,10.495575,10.650442

##Задание для гениев *
Агрегируйте числовой признак по категориальному признаку с использованием метода **без использования** библиотеки pandas, и вычислите медиану и среднее значение для каждой категории.

In [27]:
#Агрегация

import statistics
from collections import defaultdict

diction = defaultdict(list)

df.groupby('address').agg(['median', 'mean'])
newdf = df[['address','traveltime']].dropna()

for i, j in newdf.iterrows():
    address = j[0]
    travel = j[1]

    diction[address].append(travel)

for x, c in diction.items():
    print(f'{x} - Медиана равна: {statistics.median(c)}, Среднее равно: {sum(c) / len(c)}')

U - Медиана равна: 1.0, Среднее равно: 1.3982300884955752
R - Медиана равна: 2.0, Среднее равно: 1.9593908629441625

<ipython-input-27-e51327bb1624>:8: FutureWarning: ['school', 'sex', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby('address').agg(['median', 'mean'])